*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto";
}
html,
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto";
}
._container {
  width: 1110px;
  margin: 0 auto;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.header .header_container .nav .nav_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505f98;
}
.header .header_container .nav .nav_link:not(:last-child) {
  margin-right: 60px;
}
.header .header_container .logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
}
.header .header_container .buy_button {
  padding: 7px 57px;
  background-color: #111b47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.section1 {
  background-image: url("/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section1 .section1_container {
  padding: 303px 0 386px 0;
  display: flex;
  justify-content: flex-start;
}
.section1 .section1_container .content_block {
  max-width: 539px;
}
.section1 .section1_container .content_block .title {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}
.section1 .section1_container .content_block .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
}
.section1 .section1_container .content_block .buttons_block {
  margin-top: 69px;
}
.section1 .section1_container .content_block .buttons_block .button_purchase {
  padding: 7px 57px;
  background-color: #111b47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.section1 .section1_container .content_block .buttons_block .button_learn {
  margin-left: 30px;
  padding: 7px 57px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #091133;
  border: 2px solid #091133;
  box-sizing: border-box;
  border-radius: 2px;
}
.section2 .section2_container {
  display: flex;
  padding: 108px 0;
}
.section2 .section2_container .content_block {
  display: flex;
  align-items: center;
}
.section2 .section2_container .content_block .left_block {
  display: flex;
  flex-direction: column;
}
.section2 .section2_container .content_block .left_block .text_block {
  margin-bottom: 80px;
}
.section2 .section2_container .content_block .left_block .text_block .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}
.section2 .section2_container .content_block .left_block .text_block .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}
.section2 .section2_container .content_block .left_block .cards_block {
  display: flex;
}
.card {
  padding-right: 20px;
}
.card .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}
.card .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
}
.section3 .section3_container {
  padding: 125px 0;
}
.section3 .section3_container .content_block {
  display: flex;
  justify-content: space-between;
}
.section3 .section3_container .content_block .right_block {
  width: 445px;
}
.section3 .section3_container .content_block .right_block .text_block .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}
.section3 .section3_container .content_block .right_block .text_block .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}
.section4 .section4_container {
  padding: 91px 0;
}
.section4 .section4_container .content_block {
  display: flex;
  justify-content: space-between;
}
.section4 .section4_container .content_block .right_block {
  width: 445px;
}
.section4 .section4_container .content_block .right_block .text_block .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}
.section4 .section4_container .content_block .right_block .text_block .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}
.section5 .section5_container {
  padding: 91px 0;
}
.section5 .section5_container .content_block {
  display: flex;
  justify-content: space-between;
}
.section5 .section5_container .content_block .right_block {
  width: 445px;
}
.section5 .section5_container .content_block .right_block .text_block {
  margin-bottom: 40px;
}
.section5 .section5_container .content_block .right_block .text_block .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}
.section5 .section5_container .content_block .right_block .text_block .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}
.section5 .section5_container .content_block .right_block .purchase_button {
  padding: 10px 44px;
  background-color: #111b47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.section6 {
  background: rgba(229, 235, 255, 0.5);
}
.section6 .section6_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0 0 0;
}
.section6 .section6_container .content_block {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section6 .section6_container .content_block .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #091133;
}
.section6 .section6_container .content_block .text1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #6f7cb2;
  margin-bottom: 38px;
}
.section6 .section6_container .content_block .price {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 1px;
  color: #222f65;
}
.section6 .section6_container .content_block .price_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #37447e;
  margin-bottom: 60px;
}
.section6 .section6_container .content_block .text2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #5d6970;
  margin-bottom: 10px;
}
.section6 .section6_container .content_block .purchase_button {
  padding: 5px 50px;
  background-color: #111b47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 172px;
}
.footer {
  background-color: #e7ecff;
}
.footer .footer_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer .footer_container .title_content_block {
  padding: 61px 0 40px 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer_container .title_content_block .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939ea4;
}
.footer .footer_container .title_content_block .logo {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
}
.footer .footer_container .title_content_block .purchase_button {
  padding: 7px 17px;
  background-color: #111b47;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
}
.footer .footer_container .nav_content_block {
  padding: 24px 0 36px 0;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #cdd1d4;
}
.footer .footer_container .nav_content_block .footer_nav .footer_nav_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #929ecc;
}
.footer .footer_container .nav_content_block .footer_nav .footer_nav_link:not(:last-child) {
  margin-right: 60px;
}
.footer .footer_container .nav_content_block .social_block .social_link:not(:last-child) {
  margin-right: 30px;
}
